#heading {
  text-align: center;
}

.container {
  width: 500px;
  border: 4px solid black;
  margin: 0 auto;
  padding-bottom: 40px;
}

#list {
  list-style-type: none;
}

#list li {
  margin-bottom: 10px;
}

#list li p {
  display: inline;
}

#list li button {
  float: right;
  margin-right: 40px;
}

input[type="text"] {
  display: block;
  width: 50%;
  float: none;
  margin: 0 auto;
  padding: 8px 14px;
}

#add-button {
  display: block;
  margin: 10px auto 0;
}
